*{
  margin:0;
  padding:0;
}
body{
  width:100%;
  height:100vh;
  background: blueviolet;
}

.navbar{
  width:100%;
  height:100px;
  background:black;
}
ul{
  position:relative;
  top:30px;
  left:900px;
}

.list{
  margin:10px;
  text-decoration: none;
  color:purple;
  font-weight: bold;
  font-size: 17px;
}

p{
  text-align: center;
  position:relative;
  left:10px;
  top:100px;
  color:white;
}

h1{
  text-align: center;
  color:purple;
}